html * {
    font-family: Calibri, Verdana;
}


body {
    background-color: lightgray;
}

h2 {
    font-size: 19px;
    margin-bottom: 2px;
}

input {
    width: 250px;
    height: 34px;
    margin-left: 10px;
    margin-top: 0;
    text-align: left;
    font-size: 17px;
    border-color: #e69900;
    background-color: white;
    color: black;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

.app-container {
    background-color: #ffcc66;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 600px;
}

.standar-big-button {
    cursor: pointer;
    position: relative;
    font-size: 20px;
    background-color: #e69900;
    height: 40px;
    width: 230px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
}

.standar-big-button:hover {
    border-color: #ffaa00;
    border: solid;
}

.button-underline {
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
    vertical-align: middle;
}

/*Flecha para volver*/

.back {
    text-decoration: none;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #000;
    margin-left: 12px;
    margin-top: 12px;
    font-size: 35px;
}

/* Linea de separación naranja*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffcc66;
    margin: 1em 50px;
    padding: 0;
}

