#IniciarSesion-top-text {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

#login-box {
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

#login-button {
    margin-top: 40px;
    margin-left: 40px;
}

#pass-recov-button {
    color: black;
    margin-top: 20px;
    margin-left: 87px;
    display: inline-block;
}

#no-account-button {
    color: black;
    margin-top: 20px;
    margin-left: 65px;
    position: static;
    display: inline-block;
}