#buttons {
	margin-left: 40px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#button-tarjeta {
	display: inline-block;
	height: 135px;
	width: 135px;
	background-color: #e5a227;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	box-sizing: border-box;
}

#button-paypal {
	display: inline-block;
	height: 135px;
	width: 135px;
	background-color: #e5a227;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	box-sizing: border-box;
}

#button-tarjeta:hover {
	background-color: #CA8D13;
}

#button-paypal:hover {
	background-color: #CA8D13;
}

#paypal-box {
    position: absolute;
    left: 60px;
    bottom: 200px;
}

.tarjeta {
	float: left;
	margin-left: 30px; 
}

.paypal {
	float: right;
	margin-right: 30px;
}

.text-over-input {
	margin-left: 20px;
	margin-top: 8px;
}

#datos-box {
	width: 320px;
	margin-left: 20px;
	margin-right: 20px;
}

.top-text {
 	text-align: center;
 	font-size: 23px;
 	margin-top: 20px;
}

#card {
	font-size: 80px;
	text-decoration: none;
	color: #000;
	margin-top: 10px;
}

.texto-cuadro {
	color: #000;
	font-size: 30px;
}

.boton-final {
	text-align: center;
}

.box-tarjeta:hover {
	cursor: pointer;
}