.back {
	width: 35px;
}

.top-text {
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.info-box{
	background-color: #f2e9db;
    height: 83%;
}

.service-text, .total-text{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}

hr{
	margin-right: 10px;;
    width: 250px;
}


.precio-servicio {
	display: inline-block;
	font-size: 20px;
	float: right;
}

.icons {
	display: inline-block;
	font-size: 30px;
	float: right;
}

footer{
	padding-top: 30px;
}

 .total-text{
	margin-left: 50px;
 }

.caracteristica {
    display: inline-block;
    width:100px;
}

.precio{
    float:right;
    display: inline-block;
}

.linea {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}


.cabecera {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
}

.small-icon {
    float: left;
    margin-right: 10px;
    display: inline-block;
}

.img-diff {
    height: 20px;
    width: 20px;
}











